.header {
  display: flex;
  flex-flow:row nowrap;
	background-color: #eee;
	background-image: url('/img/oie_2103621IzOaPHTD.jpg');
	background-position: center;
	background-size: cover;
	border-bottom: 1px solid #ccc;
  height: 300px;
  justify-content: center;
}

.header > a {
  font-size: 20px;
  text-transform: uppercase;
  align-self: center;
  text-decoration: none;
  color: #A01319;
}
